@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@400;700&display=swap');

$gradient-purple: linear-gradient(90deg, #672280 0%, #A626D3 100%);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #cfcccc;
    font-family: 'Karla', sans-serif;
}

.App {
    background-color: white;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 65px;
    height: 100vh;
    overflow-y: scroll;

    .Header {
        background: $gradient-purple;
        color: white;
        position: fixed;
        top: 0;
        height: 65px;
        width: 550px;
        display: flex;
        padding: 20px 35px;
        align-items: center;
        justify-content: space-between;

        .name {
            max-height: 100%;
            display: flex;
            align-items: center;


            img {
                width: 40px;
                margin-right: 10px;
            }
    
            h3 {
                letter-spacing: -2px;
            }
        }
    }

    .Content {
        padding: 36px;
        display: flex;
        flex-direction: column;

        .inputs {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            input {
                font-family: 'Karla', sans-serif;
                width: 47%;
                height: 35px;
                border-radius: 5px;
                border: none;
                outline: 1px solid #D5D4D8;
                padding-left: 11px;
                font-size: 12px;
            }
        }

        button {
            height: 40px;
            background: $gradient-purple;
            border: none;
            color: white;
            border-radius: 5px;
            margin-bottom: 36px;

            span {
                font-family: 'Karla', sans-serif;
                letter-spacing: -0.4px;
                font-weight: 600;
            }
        }

        .Meme {
            font-family: 'Karla', sans-serif;
            text-transform: uppercase;
            width: 100%;
            border-radius: 2px;
            overflow: hidden;
            position: relative;
            text-align: center;

            img {
                width: 100%;
            }

            .top-text, .bottom-text {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                color: white;
                text-shadow: 
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px  1px 0 black,
                    1px  1px 0 black;
            }

            .top-text {
                top: 0;
            }

            .bottom-text {
                bottom: 0;
            }
        }
    }
}